{%- comment -%}
    Product card quick view modal template
{%- endcomment -%}
<template id="bundle-quick-view-modal-template">
    <div id="bundle-quick-view-modal" class="bundle-quick-view-modal">
        <div class="bundle-quick-view-modal__curtain js-bundle-quick-view-trigger"></div>
        <div class="bundle-quick-view-modal__window">
            <div class="bundle-quick-view-modal__content"></div>
        </div>
    </div>
</template>
