<div class="youtube-popup__curtain" onclick="youTubePopup.hide();"></div>
<div class="youtube-popup">
    <div class="youtube-popup__wrap">
        <button class="youtube-popup__close" type="button" onclick="youTubePopup.hide();">{%- render 'svg.cross' -%}</button>
        <div class="youtube-popup__content">
            <div id="youtubePlayer"></div>
        </div>
    </div>
</div>
