<div class="error-404">
    <div class="error-404__wrap">
        <h1>404: PAGE NOT AVAILABLE</h1>
        <h2>It looks like you <br />might be lost!</h2>
        <p>Oops. The page your looking for is just out of reach.<br />Lets get you back to the main site.</p>
        <a href="{{ routes.root_url }}" class="btn btn--green">HOME</a>
    </div>
</div>