{%- section 'collection-a-block' -%}
<div class="bg--dark">
    {%- section 'collection-filters' -%}
    {%- render 'breadcrumbs' -%}
    {%- render 'collection-product-list' -%}
</div>
{%- section 'collection-b-block' -%}

