<div class="bg-swirls bg-swirls--v1">
    {%- section 'page-hero' -%}
    {%- render 'breadcrumbs' -%}
    <div class="page">
        <div class="page__wrap">
            {%- section 'competitions-item' -%}
            {%- section 'loyalty-lion-competitions' -%}
        </div>
    </div>
</div>