{%- render 'breadcrumbs' -%}
{%- section 'Cocktailvideobanner' -%}
<div class="page">
    <div class="page__wrap container">
      
        {%- section 'video-tutorialsnew' -%}
     
      {%- section 'video-tutorials1' -%}
     
      {%- section 'cocktailheading3' -%}
       {%- section 'cocktailheading4' -%}
       {%- section 'cocktailheading5' -%}
     
    </div>
</div>


