{%- section 'page-hero' -%}
{%- render 'breadcrumbs' -%}

<div class="case-studies">
    <div class="case-studies__wrap">

        <span class="case-studies__title">Getting started</span>
        <h2>What the experts say</h2>

        <div class="case-studies__list">
            <div class="case-studies__list-wrap">
                {%- section 'hex-links' -%}
            </div>
        </div>
    </div>
</div>
